<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/stylesheet/styles.css" />
</head>
<body>
    <h1>About</h1>
    <p>On January 25, 1964, Lee was born to political dissident parents in Yeongju, Gyeongsangbuk-do, under the rule of President Park Chung-Hee.</p>
    <p>During her studies at Hongik University in Seoul, Lee was exposed to conventional mediums: stone and steel forms.</p>
    <p>As an independent artist, she worked with softer, more malleable materials, such as fabric, foam, rubber and sequins, then experimented with organic forms, originating from personal perceptions, memories and experiences.</p>
    <p>Furthermore, she played with themes of othering, directed from her experiences as a child of dissidents; outward appearances were deemed vital to survival, so Lee was curious about reactions to a grotesque outer shell.</p>
    <br>
        <a href="home">Back to Home</a>
    <br>
</body>
</html>