<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/stylesheet/styles.css" />
</head>
<body>
    <h1>Lee Bul</h1>
        <br>
          <img src="/images/lee-bul.jpg" />
          <br>
          <p>Lee Bul (Korean: 이불, born in Yeongju, Gyeongsangbuk-do, South Korea in 1964) is a contemporary sculpture and installation artist who appeared on the art scene in the late 1980s.</p>
          <p>Her work questions patriarchal authority and the marginalization of women by revealing ideologies that permeate our cultural and political spheres.</p>
          <br>
          <a href="about">About</a>
          <br>
          <a href="works">Works</a>
          <br>
          <a href="gallery">Gallery</a>
</body>
</html>