<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/public/stylesheet/styles.css" />
</head>
<body>
    <h1>Works</h1>
    <p>Most of Lee's artworks are installation pieces that involve the audience or herself being placed into the work.</p>
    <p>Her work appears to refer to some of the brutality of the Korean government up through 1987, with reference to torture.</p>
    <p>Lee pulls inspiration for her work from a variety of sources including film, literature, architecture, and the political and cultural history of Europe and South Korea.</p>
    <br>
    <img src="/images/works1.jpeg" />
    <br>
    <img src="/images/works2.jpeg"/>
    <br>
    <img src="/images/works3.jpeg" />
    <br>
    <a href="home">Back to Home</a>
    <br>
</body>
</html>